# PostgreSQL Config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_DEV=event_manager_development
POSTGRES_DB_TEST=event_manager_test
DB_HOST=db
DB_PORT=5432

# Rails Config
RAILS_ENV=development
RAILS_MAX_THREADS=5

# Auth Config
JWT_SECRET=shhhhhh_é_segredo